/****************
*** SITE-WIDE ***
*****************/

#main {
    min-height: 100vh;
}

#header {
    background: rgba(233, 232, 230, 0.7);
    z-index: 997;
    padding: 15px 0;
}

/***********
*** HOME ***
************/

.hero-image {
    height: 100vh;
    background-image: url(../img/welcome-banner.jpg);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text {
    position: absolute;
    left: 10%;
    top: 57%;
}

    .hero-text h1 {
        color: #fff;
        font-family: "Cormorant Garamond";
    }

    .hero-text h2 {
        color: #fff;
        margin-bottom: 15px;
        font-family: "Cormorant Garamond";
        font-style: italic;
    }

.hero-btn {
    background-color: #34b7a7;
    color: #EEEEEE;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

.hero-btn:hover {
    color: #fff;
    border: 1px solid #fff;
}

@media (max-width: 992px) {
    .hero-image {
        background-image: url(../img/welcome-banner-centered.jpg);
    }

    .hero-text {
        position: absolute center;
        top: 18%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0!important;
        text-align: center;
    }
}

@media (max-height: 720px) {
    .hero-image {
        background-image: url(../img/welcome-banner-centered.jpg);
    }

    .hero-text {
        position: absolute center;
        top: 12%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

/************
*** ABOUT ***
*************/

#accordion h3 {
    cursor: pointer;
    background-color: #DDD;
    color: #888;
    padding: 3px;
}

    #accordion h3:hover {
        color: #000;
    }

/*****************
*** CLASSMATES ***
******************/

#classmates-section {
    padding: 60px 0;
}

.classmate-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}
