/****************
*** SITE-WIDE ***
*****************/

/* NAVBAR */

#header {
    background: rgba(255, 255, 255, 0.75);
    z-index: 997;
    padding: 15px 0;
}

#header .logo a {
    color: #222;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.navbar > ul > li > a,
.navbar > ul > li > a:focus {
    font-weight: 300;
    text-transform: uppercase;
}

    .navbar > ul > li > a:before {
        height: 1px;
        background-color: #8698e3;
    }

.header-social-links a {
    color: #777;
}

    .header-social-links a:hover {
        color: #8698e3;
    }

.mobile-nav-toggle {
    color: #777;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #8698e3;
}

/* HEROES */

.hero-image {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-text {
    position: absolute;
    left: 10%;
    top: 55%;
}

    .hero-text h1 {
        color: #fff;
        font-family: "Cormorant Garamond";
        margin-bottom: 0;
    }

    .hero-text h2 {
        color: #fff;
        margin-bottom: 15px;
        font-family: "Cormorant Garamond";
        font-style: italic;
    }

.hero-btn {
    background: linear-gradient(to bottom right, rgba(134, 152, 227, 0.6), rgba(255, 167, 116, 0.6));
    color: #FFF;
    font-size: 1.3em;
    font-weight: 300;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
}

    .hero-btn:hover {
        background: linear-gradient(to bottom right, rgba(134, 152, 227, 0.85), rgba(255, 167, 116, 0.85));
        color: #fff;
    }


@media (max-width: 992px) {
    .hero-text {
        position: absolute center;
        top: 50%;
        left: 1%;
        width: 98%;
        margin: auto;
        padding: 0 !important;
        text-align: center;
    }
}

@media (max-height: 720px) {
    .hero-text {
        position: absolute center;
        top: 50%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

/* TEXT */

.section-title h2 {
    font-family: "Cormorant Garamond", Garamond;
    font-weight: 500;
}

    .section-title h2::after {
        width: 60%;
        height: 3px;
        position: absolute;
        left: 20%;
        background: linear-gradient(to bottom right, #ffa774, #8698e3);
    }

h3 {
    font-family: "Cormorant Garamond", Garamond;
    font-weight: 700;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* FOOTER */

#footer {
    background: rgba(200, 200, 200, 0.25);
    color: #333;
    font-size: 0.85em;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

    #footer .credits {
        font-size: 0.8em;
    }

    #footer .credits a {
        color: #8698e3;
    }

.back-to-top {
    background: rgba(77, 77, 77, 0.25);
}

    .back-to-top:hover {
        background: #8698e3;
    }

/***********
*** HOME ***
************/

#index-hero {
    background-image: url(../img/welcome-banner.jpg);
}

@media (max-width: 992px) {
    #index-hero {
        background-image: url(../img/welcome-banner-centered.jpg);
    }

    div#index-hero div.hero-text {
        position: absolute center;
        top: 15%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

@media (max-height: 720px) {
    #index-hero {
        background-image: url(../img/welcome-banner-centered.jpg);
    }

    div#index-hero div.hero-text {
        position: absolute center;
        top: 14%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

/************
*** ABOUT ***
*************/

#about-hero {
    background-image: url(../img/about-banner.jpg);
}

#bio-pic {
    border-radius: 50%;
    height: 300px;
}

#accordion h3 {
    cursor: pointer;
    background: linear-gradient(to right, #8698e3, #ffa774);
    color: #EEE;
    padding: 3px;
}

    #accordion h3:hover {
        color: #FFF;
    }

#about-hero-mini {
    height: 200px;
    background-image: url(../img/mini-banner.jpg);
    background-size: cover;
}

    #about-hero-mini .hero-text {
        position: absolute;
        left: 10%;
        width: 80%;
        top: 25%;
    }

/*************
*** RESUME ***
**************/

#resume {
    padding-bottom: 0;
}

.resume {
    margin-left: 5%;
    margin-right: 5%;
}

    .resume .resume-title {
        font-weight: 500;
    }

    .resume .resume-item {
        border-left: 1px solid #222;
    }

        .resume .resume-item::before {
            border: 1px solid #222;
        }

        .resume .resume-item h4 {
            font-weight: 400;
            color: #222;
        }

        .resume .resume-item h5 {
            color: #777;
            background: none;
        }

        .resume .resume-item p {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }

#resume-hero-mini {
    height: 300px;
    background-image: url(../img/mini-banner.jpg);
    background-size: cover;
}

    #resume-hero-mini .hero-text {
        position: absolute;
        left: 10%;
        width: 80%;
        top: 45%;
    }

#resume-download {
    margin-top: 32px;
}

    #resume-download h2 {
        font-size: 26px;
        font-weight: 500;
        color: #333333;
        padding-bottom: 10px;
    }

        #resume-download h2:after {
            height: 1px;
        }

#download-btn {
    background: linear-gradient(to bottom right, rgba(134, 152, 227, 0.8), rgba(255, 167, 116, 0.8));
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 7px 20px;
    margin-top: 50px;
}

    #download-btn:hover {
        background: linear-gradient(to bottom right, rgba(134, 152, 227, 1), rgba(255, 167, 116, 1));
        color: #fff;
        border: 1px solid #fff;
    }

@media (max-height: 720px) {
    #resume-hero-mini {
        height: 175px;
    }

        #resume-hero-mini .hero-text {
            position: absolute;
            left: 10%;
            width: 80%;
            top: 85px;
        }

    #download-btn {
        font-size: 1em;
    }
}

/*****************
*** CLASSMATES ***
******************/
#classmates-section {
    padding: 60px 0;
}

.classmate-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}

/****************
*** PORTFOLIO ***
*****************/

#portfolio {
    min-height: 100vh;
}


#dragon {
    max-width: 310px;
}

#portfolio-hero-mini {
    height: 300px;
    background-image: url(../img/mini-banner.jpg);
    background-size: cover;
}

    #portfolio-hero-mini .hero-text {
        position: absolute;
        left: 10%;
        width: 80%;
        top: 45%;
    }

@media (max-height: 720px) {
    #portfolio-hero-mini {
        height: 175px;
    }

        #portfolio-hero-mini .hero-text {
            position: absolute;
            left: 10%;
            width: 80%;
            top: 85px;
        }
}

/**************
*** CONTACT ***
***************/

#contact {
    min-height: 95vh;
}

#contact-hero-mini {
    height: 300px;
    background-image: url(../img/mini-banner.jpg);
    background-size: cover;
}

    #contact-hero-mini .hero-text {
        position: absolute;
        left: 10%;
        width: 80%;
        top: 45%;
    }

#contact .section-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.contact-entry {
    margin-top: 1rem;
    padding: 0 5%;
}

    .contact-entry .form-control {
        font-weight: 400;
        color: #222;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
    }

fieldset {
    text-align: center;
}

#contact-btn {
    background: linear-gradient(to bottom right, rgba(134, 152, 227, 0.9), rgba(255, 167, 116, 0.8));
    color: #FFF;
    font-size: 1.2em;
    font-weight: 300;
    text-align: center;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 7px 20px;
    margin-top: 30px;
}

    #contact-btn:hover {
        background: linear-gradient(to bottom right, rgba(134, 152, 227, 1), rgba(255, 167, 116, 1));
        color: #fff;
        border: 1px solid #fff;
    }

@media (max-height: 720px) {
    #contact-hero-mini {
        height: 175px;
    }

        #contact-hero-mini .hero-text {
            position: absolute;
            left: 10%;
            width: 80%;
            top: 85px;
        }

    #contact-btn {
        font-size: 1em;
    }
}
