/****************
*** SITE-WIDE ***
*****************/

#header {
    background: rgba(233, 232, 230, 0.7);
    z-index: 997;
    padding: 15px 0;
}

.hero-text {
    position: absolute;
    left: 10%;
    top: 57%;
}

    .hero-text h1 {
        color: #fff;
        font-family: "Cormorant Garamond";
    }

    .hero-text h2 {
        color: #fff;
        margin-bottom: 15px;
        font-family: "Cormorant Garamond";
        font-style: italic;
    }

.hero-btn {
    background: linear-gradient(to bottom right, rgba(134, 152, 227, 0.6), rgba(255, 167, 116, 0.6));
    color: #E9E9E9;
    font-size: 1.3em;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}

    .hero-btn:hover {
        background: linear-gradient(to bottom right, rgba(134, 152, 227, 0.85), rgba(255, 167, 116, 0.85));
        color: #fff;
        border: 1px solid #fff;
    }


@media (max-width: 992px) {
    .hero-text {
        position: absolute center;
        top: 50%;
        left: 1%;
        width: 98%;
        margin: auto;
        padding: 0 !important;
        text-align: center;
    }
}

@media (max-height: 720px) {
    .hero-text {
        position: absolute center;
        top: 50%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

.section-title h2 {
    font-family: "Cormorant Garamond", Garamond;
}

    .section-title h2::after {
        width: 40%;
        height: 3px;
        position: absolute;
        left: 30%;
        background: linear-gradient(to bottom right, #ffa774, #8698e3);
    }

h3 {
    font-family: "Cormorant Garamond", Garamond;
    font-weight: 700;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/***********
*** HOME ***
************/

.hero-image {
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#index-hero {
    background-image: url(../img/welcome-banner.jpg);
}

@media (max-width: 992px) {
    #index-hero {
        background-image: url(../img/welcome-banner-centered.jpg);
    }

    div#index-hero div.hero-text {
        position: absolute center;
        top: 15%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

@media (max-height: 720px) {
    #index-hero {
        background-image: url(../img/welcome-banner-centered.jpg);
    }

    div#index-hero div.hero-text {
        position: absolute center;
        top: 12%;
        left: 1%;
        width: 98%;
        margin: 0;
        padding: 0 !important;
        text-align: center;
    }
}

/************
*** ABOUT ***
*************/

#about-hero {
    background-image: url(../img/about-banner.jpg);
}

#accordion h3 {
    cursor: pointer;
    background: linear-gradient(to right, #8698e3, #ffa774);
    color: #EEE;
    padding: 3px;
}

    #accordion h3:hover {
        color: #FFF;
    }

#portfolio-hero-mini {
    height: 200px;
    background-image: url(../img/mini-banner.jpg);
    background-size: cover;
}

    #portfolio-hero-mini .hero-text {
        position: absolute;
        left: 10%;
        width: 80%;
        top: 25%;
    }

/*****************
*** CLASSMATES ***
******************/
#classmates-section {
    padding: 60px 0;
}

.classmate-img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
}
