@{
    ViewBag.Title = "About Me";
}

<!-- About Hero -->
<div class="hero-image" id="about-hero">
    <div class="hero-text">
        <h1 class="display-1">About me.</h1>
    </div>
</div>
<!-- /end About Hero -->
<!-- ======= About Me Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>My Story</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 my-3 text-center">
                <img src="~/Content/assets/img/bio-pic.jpg" alt="Profile picture of Romeo Bagunu" id="bio-pic">
            </div>
            <div class="col-lg-8 my-3">
                <h3>Romeo Bagunu</h3>
                <p class="fst-italic">
                    Hey there! My name is Romeo, and for the past couple years, I was working as a Program Director for Before and After School Child Care in Johnson County. It was an incredible opportunity, and I loved working with kids. The County had a great company culture, and my time there taught me key skills as a manager and supervisor: teamwork, professional communication, and administrative abilities.
                </p>
                <p class="fst-italic">
                    But I knew that I had to find a more long term career. And while I was researching future opportunities, I realized that I could turn my longtime hobbies and interests and volunteer work related to technology and turn them into a passion and career as a programmer!
                </p>
                <p class="fst-italic">
                    That's when I was referred to Centriq's Full Stack Web Developer training, where I am learning how to work with the .NET stack and specifically MVC applications.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- ======= Technical Skills Section ======= -->
<section class="pt-0" data-aos="fade-up">
    <div class="container">
        <div class="section-title">
            <h2>Technical Skills</h2>
        </div>
        <div class="row">
            <div class="col-lg-4 my-3">
                <h4>Summary</h4>
                <strong>Front End:</strong> HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development,
                Bootstrap, ReactJS
                <br />
                <strong>Middle Tier:</strong> C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API
                <br />
                <strong>Back End:</strong> ADO.NET, SQL, SQL Server
                <br />
                <strong>Tools:</strong> Visual Studio, Visual Studio Code, SSMS
            </div>
            <div class="col-lg-8 my-3">
                <div id="accordion">
                    <h3>HTML / CSS</h3>
                    <p>My first experience with Front End development was Alpha, a static web application made entirely from scratch. In that code, I used the basics of HTML and CSS to accomplish very simple page layouts from a provided wireframe. I enjoyed designing the website, drawing much inspiration from Steam and DOTA2. (The concept behind the project was a small company which teaches courses about how to play DOTA.) Through the trial and error of putting this first project together, I learned how to handle the strain of troubleshooting and gained a greater appreciation for development tools learned later in the track.</p>
                    <h3>C#</h3>
                    <p>Probably my favorite portion of the track was learning how to create basic Console Apps in VS. The assigned project was to use C# to design a Dungeon game where a player must survive a gauntlet of monster battles to beat the game. The Dragon Dungeon I created uses looping structures to introduce random encounters in a succession of rooms which the player progresses through. Combat methods and custom enemy classes were designed to complement different paths to victory, where the player can choose their Race (Human, Elf, or Dwarf) and different stat upgrades throughout the game. Logic was also incorporated into a mini-boss fight with a Troll and a final boss fight against a Dragon. I would encourage you to take a look at the code; a link to the Github repo is available on my Portfolio page!</p>
                    <h3>T-SQL (SSMS)</h3>
                    <p>Much like my experience in learning C#, I found that the logical challenge of querying data was a stimulating and fulfilling task. Prior to learning MVC, we spent a week learning the basics of writing queries and designing databases in SSMS. I am excited to apply this background knowledge in the MVC design architecture!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Technical Skills section -->
<!-- Mini Portfolio Hero Hero -->
<div class="hero-image" id="portfolio-hero-mini">
    <div class="hero-text">
        <h2 class="display-5">Check out my portfolio!</h2>
        <a class="hero-btn mt-3" href="@Url.Action("Portfolio", "Home")">PORTFOLIO</a>
    </div>
</div>
<!-- /end Mini Portfolio Hero -->

@section scripts{
    <script>
        $(function () {
            $("#accordion").accordion({
                heightStyle: "content",
                collapsible: true
            });
        });
    </script>
}