@{
    ViewBag.Title = "About Me";
}

<!-- About Hero -->
<div class="hero-image" id="about-hero">
    <div class="hero-text">
        <h1 class="display-1">About me.</h1>
    </div>
</div>
<!-- /end About Hero -->
<!-- ======= About Me Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>My Story</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 my-3 text-center">
                <img src="~/Content/assets/img/bio-pic.jpg" alt="Profile picture of Romeo Bagunu" id="bio-pic">
            </div>
            <div class="col-lg-8 my-3">
                <h3>Romeo Bagunu</h3>
                <p class="fst-italic">
                    Hey there! My name is Romeo, and for the past couple years, I was working as a Program Director for Before and After School Child Care in Johnson County. It was an incredible opportunity, and I loved working with kids. The County had a great company culture, and my time there taught me key skills as a manager and supervisor: teamwork, professional communication, and administrative abilities.
                </p>
                <p class="fst-italic">
                    But I knew that I had to find a more long term career. And while I was researching future opportunities, I realized that I could turn my longtime hobbies and interests and volunteer work related to technology and turn them into a passion and career as a programmer!
                </p>
                <p class="fst-italic">
                    That's when I was referred to Centriq's Full Stack Web Developer training, where I am learning how to work with the .NET stack and specifically MVC applications.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
<!-- ======= Technical Skills Section ======= -->
<section class="pt-0" data-aos="fade-up">
    <div class="section-title">
        <h2>Technical Skills</h2>
    </div>

    <div class="skillsContainer">
        <div class="skills">
            <strong>Front End:</strong>
            <ul>
                <li>ReactJS</li>
                <li>JavaScript, jQuery, jQueryUI</li>
                <li>Bootstrap</li>
                <li>Responsive/Mobile Development</li>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
        </div>

        <div class="skills">
            <strong>Middle Tier:</strong>
            <ul>
                <li>C#.NET</li>
                <li>ASP.NET</li>
                <li>LINQ</li>
                <li>EF</li>
                <li>ASP.NET Web REST API</li>
            </ul>
        </div>

        <div class="skills">
            <strong>Back End:</strong>
            <ul>
                <li>ADO.NET</li>
                <li>SQL & SQL Server</li>
            </ul>
            <strong>Tools:</strong>
            <ul>
                <li>Visual Studio & VS Code</li>
                <li>SSMS</li>
                <li>FileZilla</li>
                <li>Postman</li>
            </ul>
        </div>
    </div>

</section>
<!-- End Technical Skills section -->
<!-- Mini Portfolio Hero Hero -->
<div class="hero-image" id="about-hero-mini">
    <div class="hero-text">
        <h2 class="display-5">Check out my projects!</h2>
        <a class="hero-btn mt-3" href="@Url.Action("Portfolio", "Home")">MY PORTFOLIO</a>
    </div>
</div>
<!-- /end Mini Portfolio Hero -->
@*
    @section scripts{
        <script>
            $(function () {
                $("#accordion").accordion({
                    heightStyle: "content",
                    collapsible: true
                });
            });
        </script>
    }
*@