@model PersonalSiteMVC.Models.ContactViewModel

@{
    ViewBag.Title = "Email Confirmation";
}

<main id="main" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">

        <div class="row">
            <div class="col-md-offset-2 col-md-4 text-center">
                <h2>Thank you for contacting us.</h2>
                <p>We will reply to you soon!</p>
            </div>

            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5>Subject:</h5>
                        <h5>@Model.Subject</h5>
                        <h5>Message:</h5>
                        <h5>@Model.Message</h5>
                        <h5>Return Email: <em>@Model.Email</em></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>