@{
    ViewBag.Title = "Home";
}

<div class="hero-image">
    <div class="hero-text">
        <h1 class="display-1">My name is Romeo.</h1>
        <h2 class="display-5">I'm a Full Stack Web Dev.</h2>
        <a href="@Url.Action("About", "Home")" class="hero-btn">ABOUT ME</a>
    </div>
</div>