
@{
    ViewBag.Title = "Links";
}

<main id="main">
    <section id="classmates-section" class="container" data-aos="fade-up">
        <div class="section-title">
            <h2>Centriq Classmates</h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://mckinneywebdev.com" target="_blank"><img src="~/Content/assets/img/classmates/Sean.jpg" class="classmate-img" alt="Profile picture of my classmate Sean." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Sean McKinney
                        <a href="https://www.linkedin.com/in/sean-a-mckinney/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://mckinneywebdev.com" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://zaksisler.com/" target="_blank"><img src="~/Content/assets/img/classmates/Zak.jpg" class="classmate-img" alt="Profile picture of my classmate Zak." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Zakary Sisler
                        <a href="https://www.linkedin.com/in/zakary-sisler/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://zaksisler.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://austinwallace.net/" target="_blank"><img src="~/Content/assets/img/classmates/Austin.jpg" class="classmate-img" alt="Profile picture of my classmate Austin." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Austin Wallace
                        <a href="https://www.linkedin.com/in/aus-wallace/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://austinwallace.net/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://michaelredifer.com/" target="_blank"><img src="~/Content/assets/img/classmates/Michael.jpg" class="classmate-img" alt="Profile picture of my classmate Michael." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Michael Redifer
                        <a href="https://www.linkedin.com/in/michael-redifer-202288232/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://michaelredifer.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://fountaincitydev.com/" target="_blank"><img src="~/Content/assets/img/classmates/Connor.jpg" class="classmate-img" alt="Profile picture of my classmate Connor." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Connor Dunn
                        <a href="https://www.linkedin.com/in/connor-dunn-396188233/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://fountaincitydev.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://mattroberts-dev.com/" target="_blank"><img src="~/Content/assets/img/classmates/Matt.jpg" class="classmate-img" alt="Profile picture of my classmate Matt." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Matt Roberts
                        <a href="https://www.linkedin.com/in/mattroberts-dev/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://mattroberts-dev.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://alexklee.net/" target="_blank"><img src="~/Content/assets/img/classmates/Placeholder.png" class="classmate-img" alt="Profile picture of my classmate Alex." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Alex Klee
                        <a href="https://www.linkedin.com/in/alex-klee-6b962a232/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://alexklee.net/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://jazminerizo.com/" target="_blank"><img src="~/Content/assets/img/classmates/Jazmine.jpg" class="classmate-img" alt="Profile picture of my classmate Jazmine." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Jazmine Rizo
                        <a href="https://www.linkedin.com/in/jazmine-rizo-7aa283232/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://jazminerizo.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://kaylawin.com" target="_blank"><img src="~/Content/assets/img/classmates/Kayla.jpg" class="classmate-img" alt="Profile picture of my classmate Kayla." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Kayla Nguyen
                        <a href="https://www.linkedin.com/in/kayla-n-nguyen/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://kaylawin.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="#" target="_blank"><img src="~/Content/assets/img/classmates/Ben.jpg" class="classmate-img" alt="Profile picture of my classmate Ben." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Benjamin McDaniel
                        <a href="https://www.linkedin.com/in/benjaminjmcd" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="#" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://paytonvon.com/" target="_blank"><img src="~/Content/assets/img/classmates/Payton.jpg" class="classmate-img" alt="Profile picture of my classmate Payton." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Payton VonHolten
                        <a href="https://www.linkedin.com/in/payton-vonholten-695316233/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://paytonvon.com/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="http://projectpeacock.net/" target="_blank"><img src="~/Content/assets/img/classmates/Justin.jpg" class="classmate-img" alt="Profile picture of my classmate Justin." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Justin Peacock
                        <a href="https://www.linkedin.com/in/justin-peacock-6aa829229/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="http://projectpeacock.net/" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="#" target="_blank"><img src="~/Content/assets/img/classmates/Ian.jpg" class="classmate-img" alt="Profile picture of my classmate Ian." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Ian McClaflin
                        <a href="https://www.linkedin.com/in/ian-mcclaflin-982755232/" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="#" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="#" target="_blank"><img src="~/Content/assets/img/classmates/Placeholder.png" class="classmate-img" alt="Profile picture of my classmate Enrique." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Enrique Garcia
                        <a href="#" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="#" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
            <div class="pt-3 col-lg-4 col-md-6 d-flex justify-content-center flex-column">
                <div class="mx-auto">
                    <a href="#" target="_blank"><img src="~/Content/assets/img/classmates/Placeholder.png" class="classmate-img" alt="Profile picture of my classmate Sam." /></a>
                </div>
                <div class="mx-auto p-3">
                    <h5>
                        Sam Nichols
                        <a href="#" class="linkedin" target="_blank"><i class="bi bi-linkedin"></i></a>
                        <br />
                        <a href="#" target="_blank">Personal Site</a>
                    </h5>
                </div>
            </div>
        </div>
    </section>
</main>