
@{
    ViewBag.Title = "Portfolio";
}

<main id="main">

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>@ViewBag.Title</h2>
            </div>

            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <a href="http://alpha.romeobagunu.com" class="portfolio-details-lightbox" data-glightbox="type: external" title="Alpha">
                            <img src="assets/img/portfolio/alpha.jpg" class="img-fluid" alt="A screenshot from Alpha, my first website.">
                            <div class="portfolio-info">
                                <h4>Alpha | &alpha;</h4>
                                <p>My first static website.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item">
                    <div class="portfolio-wrap">
                        <a href="https://github.com/romeobagunu/DungeonApp" title="The Dragon Dungeon">
                            <img src="assets/img/portfolio/dragon.jpg" class="img-fluid" alt="A screenshot from The Dragon's' Dungeon, my first C# Console App.">
                            <div class="portfolio-info">
                                <h4>The Dragon's Dungeon</h4>
                                <p>My first C# Console App.</p>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Section -->

</main><!-- End #main -->
