
@{
    ViewBag.Title = "Resume";
}

<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>@ViewBag.Title</h2>
            </div>

            <div class="container text-center">
                <h5 class="p-0"><a href="~/Content/assets/Romeo Bagunu Resume.pdf" target="_blank">Download Full Resume (PDF)</a></h5>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">TECHNICAL TRAINING &#38; EDUCATION</h3>
                    <div class="resume-item">
                        <h4>Full Stack Web Developer Program</h4>
                        <h5>Anticipated Graduation 04/2022</h5>
                        <p><em>Centriq Training, Kansas City, MO (Remote)</em></p>
                        <ul>
                            <li>
                                MVC Framework
                            </li>
                            <li>
                                Troubleshooting &#38; Debugging
                            </li>
                            <li>
                                Source Control
                            </li>
                            <li>
                                Agile / Scrume (created Team Project)
                            </li>
                            <li>
                                Website Deployment
                            </li>
                            <li>
                                Pair Programming
                            </li>
                            <li>
                                Code Review
                            </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Bachelor of Political Science</h4>
                        <h5>08/2017 - 12/2020</h5>
                        <p><em>University of Missouri, Kansas City</em></p>
                        <ul>
                            <li>
                                GPA: 3.99
                            </li>
                            <li>
                                Graduated Summa Cum Laude
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">WORK EXPERIENCE</h3>
                    <div class="resume-item">
                        <h4>Technical Support Administrator</h4>
                        <h5>06/2021 - Current</h5>
                        <p><em>Living Faith Bible Institute, Kansas City, MO</em></p>
                        <p>
                            <ul>
                                <li>Troubleshoot and aid students and staff with technical issues</li>
                                <li>Oversee the streaming and recording of lecture content</li>
                                <li>Coordinate a team of audio/visual support volunteers</li>
                                <li>Assist in the management of the school's LMS (Moodle) and accounts (via Microsoft 365)</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4>OST Program Director</h4>
                        <h5>08/2020 - 01/2022</h5>
                        <p><em>Johnson County Park 	&#38; Recreation District, Olathe, KS</em></p>
                        <p>
                            <ul>
                                <li>Operated safe, engaging, and nurturing programming for children in before-and-after-school programs and summer camps.</li>
                                <li>Supervised up to 60 children while delegating to 8 seasonal employees.</li>
                                <li>Corresponded with parents, school faculty, and supervisors on a daily basis via email, in-person, and over the phone communication.</li>
                                <li>Allocated a monthly budget for supplies and snacks.</li>
                                <li>Planned and executed daily activities, monthly lesson plans, and field trips.</li>
                            </ul>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->
</main><!-- End #main -->